<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
         <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/4072b8f88c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="main-div">

    
        <h1>Contact List</h1>

        <form action="/create-contact" method="post" id="form-data">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone number" required>
            <button id="btn" type="submit"> Add Contact</button>
        </form>

        <div id="info-list">
            <ul>
                <% for (let i of contact_list) { %>
                    <li id="field-li">
                        <div id="data-np">
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                        </div>
                        <div>
                            <a href="/delete-contact/?id=<%= i._id %>">
                                <i id="icon" class="far fa-trash-alt"></i>
                            </a>                     
                        </div>
                        
                    </li>
                    <% } %>
            </ul>
        </div>


    </div>


    

<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>